@charset "ISO-8859-1";

@charset "UTF-8";
/* Form field styling */

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

#output {
  padding: 20px;
  background: #dadada;
}

form {
  margin-top: 20px;
}

select {
	border: 2px solid #eeeeee;
	height: 52px;
	margin: 10px 0 0 5px;
	padding: 1%;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: source-sans-pro;
	sans-serif;
}


input[type=text],input[type=number] {
	border: 2px solid #eeeeee;
	height: 46px;
	margin: 10px 0 0 0;
	padding: 1%;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: source-sans-pro;
	sans-serif;
}

#nome {
	width: 100%;
}

#anno_uscita{
	width: 100%;
}

#incassi{
	width: 100%;
}

#id{
	width: 100%;
}

#id_film{
	width: 100%;
}

#id_attori{
	width: 100%;
}

#img{
	width: 100%;
}

#checkbox {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
}

.customCheck {
	width: 90%;
	float: left;
	margin-top: 20px;
	position: relative;
}

.customCheck label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background: #eee;
	border: 1px solid #ddd;
}

.customCheck label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 4px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.customCheck label:hover::after {
	opacity: 0.5;
}

.robot {
	display: inline-block;
	position: relative;
	width: 60%;
	margin: 0 0 0 30px;
	line-height: 1em;
}

#submit {
	display: block;
	border: 0;
	width: 25%;
	height: 60px;
	margin: 30px auto 0;
	background: #eee;
	color: #333;
	text-align: center;
	transition: background, color, .5s ease 0;
	border: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: source-sans-pro;
	sans-serif;
}

#submit:hover {
	background: #DADADA;
	border: 1px #DADADA;
	color: #C43C3E;
}

#submit {
	display: block;
	border: 0;
	width: 25%;
	height: 60px;
	margin: 30px auto 0;
	background: #eee;
	color: #333;
	text-align: center;
	transition: background, color, .5s ease 0;
	border: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: source-sans-pro;
	sans-serif;
}

* {
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

body {
	background-color: #2C3A47;	
	margin: 0 auto;
}

#wrapper {
	max-width: 1020px;
	height: 100%;
	background: #fff;
	margin: 0px auto 0;
	padding: 20px;
}
#subscribeBox {
	position: relative;
	margin: 0 auto;
	padding: 10px 0;
	height: auto;
	width: 50%;
	min-width: 325px;
}

*:focus {
	outline: none;
}

.subscribeForm {
	display: block;
	margin: 20px 0 0 0;
	width: 90%;
}
/* Text Styling for h2, p, a */
h2 {
	font-weight: 500;
	letter-spacing: .05em;
	color: #333333;
	font-style: normal;
	font-family: source-sans-pro, sans-serif;
}

.thin {
	font-weight: 200;
	text-align: center;
}

a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #C43C3E;
}

p {
	display: block;
	width: 90%;
	margin: 20px 0 0 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #333333;
	letter-spacing: .01em;
	font-style: normal;
	font-weight: 300;
	font-family: source-sans-pro;
	sans-serif;
	text-align: center
}