<div id="wrapper">
	<div id="subscribeBox">
		<h2>
			<span class="thin">
				<p>Seleziona la casa produttrice da rimuovere.</p>
			</span>
		</h2>
		<div data-ng-controller="CaseController as ctrl">
			<form class="subscribeForm" ng-submit="ctrl.remove(ctrl.user.id_casa_prod)">

				<p>Seleziona Casa Produttrice</p>
				<select id="id_casa_prod" name="id_casa_prod" data-ng-model="ctrl.user.id_casa_prod">
					<option></option>
					<option data-ng-repeat="u in ctrl.users" value="{{u.id}}">
						"{{u.nome}}"</option>


				</select>

				<input id="submit" type="submit" value="Elimina">
			</form>
		</div>
	</div>
</div>